<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="banner-wrapper sticky-top">
        <div class="banner-wrapper--block">
        </div>
    </div>
    <section class="header">
        <div class="header--container d-flex">
            <div class="header--logo">
                <a href="#"></a>
            </div>
            <div class="header--nav">
                <a href="#" class="header--nav-item">Main page</a>
                <a href="#" class="header--nav-item">My classes</a>
                <a href="#" class="header--nav-item">Portfolio</a>
            </div>
            <div class="header--right ml-auto d-flex align-items-center">
                <div class="header--right-invite mr-auto">
                    <a href="#">Invite a colleague</a>
                </div>
                <div class="header--right-profile">
                    John
                    <i class="fas fa-angle-down"></i>
                </div>
            </div>
        </div>
    </section>
    <h1>Giỏi quá! Bạn đã hoàn thành bài học!</h1>
</body>

</html>