*{
    user-select: none;
}
/* caption */
.caption{
    margin-top: 15px;
    margin-bottom: 20px;
}
.caption_one{
    text-align: center;
    font-size: 35px;
    color: rgba(0,0,0,.3);
    transition: 0.5s;
}
.caption_two{
    text-align: center;
    font-size: 25px;
    color: black;
    transition: 0.5s;
}

/* context */
.scene_under_start .context{
    margin: auto;
}
.aside_left .aside_left--kid{
    height: 100%;
    width: 138px;
    background: url('../../images/kid_1.svg') no-repeat bottom;
}
.aside_left--drag_block_area{
    height: 100%;
    width: 160px;
    margin-right: 10px;
    background-color: rgba(181, 242, 253, 0.45);
}
.aside_left--blocks{
    width: 60px;
    height: 100%;
    background-image: url('../../images/28.png');
    background-size: 127%;
    background-position: left bottom;
    margin-right: 20px;
    animation: fadeIn 1s;
}
.big--floor{
    width: 380px;
    height: 60px;
    background: url('../../images/shadowBig.png');
    position: absolute;
    top: 350px;
    z-index: -1;
}
.context .arrows_list{
    width: 40px;
    height: 295px;
}
/*.arrows_list--item{*/
/*    width: 100%;*/
/*    height: 20px;*/
/*    position: absolute;*/
/*}*/
.aside_right--blocks{
    width: 60px;
    height: 100%;
    margin-left: 20px;
    animation: fadeIn 1s;
    background-size: 127%;
    margin-right: 20px;
    background-position: left bottom;
}
.aside_right .aside_right--kid{
    height: 100%;
    width: 138px;
    background: url('../../images/kid_2.svg') no-repeat bottom;
}
.small--floor{
    width: 240px;
    height: 60px;
    background: url('../../images/floor.png');
    position: absolute;
    top: 350px;
    z-index: -1;
}
.item{
    height: 53px;
    border: 0;
    position: absolute;
    background-size: cover;
    background: no-repeat center;
}
.block{
    background-image: url('../../images/block.png');
    width: 60px;
    height: 60px;
}
.arrow{
    width: 40px;
    animation: fadeIn 1s;
}
.green-arrow{
    background-image: url('../../images/31.png');
}
.red-arrow{
    background-image: url("../../images/33.png");
}
.x-sign{
    background-image: url("../../images/XSign.png");
    width: 40px;
    animation: fadeIn 1s;
}
.context--answer{
    margin-top: 20px;
    position: relative;
}
.context--answer span{
    font-size: 30px;
}
.context--answer button{
    display: block;
    height: 45px;
    width: 56px;
    padding: 2px 14px;
    border-radius: 5px;
    background: #6ec3e2;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border: none;
    margin: auto;
}
#overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.45);
    z-index: 2;
    cursor: pointer;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}