*{
    user-select: none;
}
.scene_under_start .caption{
    padding-top: 15px;
    margin-bottom: 60px;
    font-size: 35px;
    text-align: center;
}
.scene_under_start .context{
    width: 560px;
    margin: auto;
}
.context--answer{
    width: 240px;
}
.context--answer .row_1{
    height: 294px;
    width: 240px;
    padding: 0 13px;
}
.context--answer__kid{
    height: 100%;
    width: 138px;
}
.context--answer__floor{
    width: 240px;
    height: 60px;
    background-image: url('../../images/floor.png');
    position: absolute;
    top: 387px;
    z-index: -1;
}
.context--answer__blocks{
    /* width: 60px; */
    width: 60px;
    height: 100%;
}
#list-block-one{
    animation: fadeIn 1s;
}
.item{
    height: 53px;
    border: 0;
    position: absolute;
    background-size: cover;
    background: no-repeat center;
}
.block{
    background-image: url('../../images/block.png');
    width: 60px;
}
.arrow{
    width: 40px;
    animation: fadeIn 1s;
}
.green-arrow{
    background-image: url('../../images/31.png');
}
.red-arrow{
    background-image: url("../../images/33.png");
}
.x-sign{
    background-image: url("../../images/XSign.png");
    width: 40px;
    animation: fadeIn 1s;
}
.context--answer__blocks .block{
    position: absolute;
}
.context--answer__blocks .red-sign {
    position: absolute;
}
.answer_1 .context--answer__kid{
    background: url('../../images/kid_1.svg') no-repeat bottom;
}
.answer_2 .context--answer__kid{
    background: url('../../images/kid_2.svg') no-repeat bottom;
}
.context .arrows_list{
    width: 40px;
    height: 295px;
}
.answer_2 .context--answer__blocks{
    background-image: url('../../images/28.png');
    background-size: cover;
    background-position: 0px 7px;
}
.context--drag{
    margin-top: 40px;
}
.context--factory{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-left: 350px;
    background: url('../../images/30.png'), url('../../images/32.png');
    background-size: cover;
}
.context--factory .block{
    position: absolute;
    /*top: 480px;*/
    left: 360px;
    bottom: 17px;
}
.context--trash{
    width: 80px;
    height: 80px;
    background-image: url('../../images/bin-1.png');
    background-size: cover;
    position: relative;
    display: inline-block;
    margin-left: 60px;
    z-index: -2;
}
.context--trash__block{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
.context--trash__block .block{
    position: absolute;
    top: 8px;
    left: 6px;
}
.context--trash--front{
    width: 80px;
    height: 80px;
    background-image: url('../../images/bin.png');
    background-size: cover;
}
.drop-block{
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
}
.context--trash__block > .block{
    visibility: hidden;
    position: absolute;
    top: 7.5px;
    left: 6px;
    z-index: -1;
}
.context--drag--done{
    display: inline-block;
    border-radius: 5px;
    background-color: #5BBBE4;
    color: white;
    border: none;
    padding: 7px 10px;
    position: absolute;
    bottom: 34px;
    left: 620px;
    outline: none!important;
}
.context--drag--done:disabled{
    background-color: #9cdce7;
}
.context--drag--rework {
    font-size: 24px;
    padding: 0 12px;
    border-radius: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #6ec3e2;
    color: #6ec3e2;
    background-color: white;
    position: absolute;
    bottom: 34px;
    left: 620px;
}
#factory{

}
#factory .block{
    animation-duration: 1s;
    animation-name: scale-up-ver-bottom;
}
@keyframes scale-up-ver-bottom {
    0% {
        height: 0px;
        transform-origin: 0 100%
    }
    100% {
        height: 60px;
        transform-origin: 0 100%
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
