.caption{
    font-size: 30px;
    text-align: center;
}
.scene_under_start{
    padding: 30px 80px;
}
.train_one{
    width: 360px;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.track{
    width: 60px;
    height: 60px;
    background: url('../images/track.png') no-repeat;
    background-size: contain;
    background-position: center bottom;
}
.train_drop{
    width: 60px;
    height: 60px;
}
.kid_one{
    display: inline-block;
    width: 220px;
    height: 140px;
    background: url('../images/kid3.svg') no-repeat;
    background-position: center center;
}
.kid_two{
    display: inline-block;
    width: 220px;
    height: 140px;
    background: url('../images/kid4.svg') no-repeat;
    background-position: center center;
}
.train_two{
    width: 360px;
    height: 60px;
    display: inline-block;
    position: relative;
}
.train_one--track{
    position: absolute;
    bottom: 0;
    left: 0;
}
.train_two--train{
    position: absolute;
    top: 0;
    left: 0;
}
.train_two--track{
    position: absolute;
    top: 0;
    left: 0;
}
.list_train{
    width: 300px;
    height: 180px;
    background-color: lawngreen;
    position: relative;
}
.train{
    width: 60px;
    height: 60px;
    background: url('../images/train_car_1.png') no-repeat;
    background-position: center center;
}
.train_0{
    position: absolute;
    top: 0;
    left: 50px;
}
.train_1{
    position: absolute;
    top: 40px;
    left: 10px;
}
